<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>

	<div th:fragment="admin_nav">
		<nav>
	        <a href="pocetna.html">Početna</a>
	        <a href="korisnici.html">Korisnici</a>
	        <a href="kupci.html">Kupci</a>
	        <a href="profil.html">Profil</a>
	        <a href="odjavi_se.html">Odjavi se</a>
	    </nav>
	</div>
	
	<div th:fragment="none_nav">
		<nav>
	        <a href="pocetna.html">Početna</a>
	        <a href="prijavi_se.html">Prijavi se</a>
   		</nav>
	</div>
	
	<div th:fragment="menadzer_nav">
		<nav>
	        <a href="pocetna.html">Početna</a>
	        <a href="kategorije.html">Kategorije</a>
	        <a href="putovanja.html">Putovanja</a>
	        <a href="rezervacije.html">Rezervacije</a>
	        <a href="profil.html">Profil</a>
	        <a href="odjavi_se.html">Odjavi se</a>
	    </nav>
	</div>
	
	<div th:fragment="kupac_nav">
		<nav>
	        <a href="pocetna.html">Početna</a>
	        <a href="profil.html">Profil</a>
	        <a href="odjavi_se.html">Odjavi se</a>
    	</nav>
	</div>
	


</html>